* {
    box-sizing: border-box;
}

/* body {
    position: relative;
    font-family: 'Open Sans'; font-size: 18px;
    margin-left: 10%; margin-right: 10%;
    margin-top: 1%; margin-bottom: 1%;
    background-color: #eeeeee;
    height: 100%
} */

html {
    margin:0;
    height: 100%;
}
/* html, body {
    padding: 10% 10% 10% 10%;
    margin: 0; height: 100%;
} */
body {
    position: relative;
    font-family: 'Open Sans';
    /* font-size: 18px; */
    /* font-size: 2vw; */
    font-size: calc(14px + .5vw);
    /* color: #495464; */
    /* margin-left: 10%; margin-right: 10%;
    margin-top: 5%; margin-bottom: 5%; */
    /* background-color: #eeeeee; */
    height: 100%;
    margin: 0;
}

/* .margin {
    margin-left: 10%; margin-right: 10%;
    margin-top: 5%; margin-bottom: 5%;
} */
.f1 {
    height: 100%;
    /* height: auto; */
    background-color: #EAEEF6;
    padding: 5% 10% 5% 10%;
}

.f2 {
    height: 130%;
    background-color: #D1E0F0;
    padding: 2% 10% 5% 10%;
}

.f3 {
    height: 100%;
    background-color: #BED4E1;
    padding: 2% 10% 5% 10%;
    /* justify-content: center;
    display:flex;
    align-items: center; */
}

.f4 {
    height: 100%;
    background-color: #A1C1D3;
    padding: 2% 10% 5% 10%;
}

p {
    margin: 0em;
    padding: 0;
    margin-top: 0px; 
    /* font-size: 1vw; */
    font-size: calc(10px + .5vw);
}

p.grid {
    font-size: calc(8px + .4vw);
    /* margin-left: 4%; margin-right: 8%; */
    margin-top: 1%; margin-bottom: 0em;
    padding: 0;
}

p.name {
    /* font-size: 200px; */
    font-family: Oswald;
    font-size: 12vw;
    text-align: center;
    line-height:1.2em;

    /* color: #495464; */
}

p.heading {
    font-size: calc(20px + 1.5vw);
    font-family: Oswald;
    /* color: #495464; */
}

p.hello {
    font-size: calc(20px + 0.5vw);
    font-family: Open Sans;
    /* color: #495464; */
}

p.intro {
    font-size: calc(12px + 0.9vw);
    /* font-family: Open Sans; */
    /* color: #495464; */
    text-align: center;
}

.l_timeline {
    width: 25%;
    float: left;
    padding: 15px;
    /* display: block; */
    text-align: center;
    border-bottom: 2px solid #0f3057;
    border-top: 2px solid red;
    display: table-cell;
  }
  
  .r_timeline {
    width: 75%;
    float: left;
    /* padding: 15px; */
    padding: 2% 0px 2% 0px;
    border-left: 2px solid #0f3057;
    border-bottom: 2px solid #0f3057;
    border-top: 2px solid red;
    display: table-cell;
  }

  /* .row {
    display: table-row;
    width: 100%;
  } */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  p.resumechunk {
    margin-left: 4%; margin-right: 8%;
    margin-top: 1%; margin-bottom: 1%;
    font-size: calc(10px + .5vw);
    /* font-size: 1.1vw; */
}

p.resumedate {
    clear: both;
    font-size: calc(12px + .5vw);
    font-family: Oswald;
    text-align: center;
}

p.job_title {
    margin-left: 4%;
    font-weight: 900;
    font-size: calc(18px + .5vw);
    font-family: Oswald;
  }

p.project {
    font-size: 1.6vw;
    font-family: Oswald;
}

img {
    margin-top: 2% 2% 2% 2%;
    width: 50%;
}
    
.col-container {
    display: table;
    width: 100%;
    height: 70%;
  }
.col1 {
    display: table-cell;
    width: 25%;
    vertical-align: middle;
    text-align: center;
    padding: 2% 2% 2% 2%;
}
.col2 {
    display: table-cell;
    width: 75%;
    border-left: 2px solid #0f3057;
    border-bottom: 2px solid #0f3057;
    border-top: 2px solid red;
    vertical-align: middle;
    padding: 2% 2% 2% 2%;
}

.colA {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 2% 2% 2% 2%;
    /* border: 2px solid #0f3057; */
    /* border-top: 2px solid red; */
}

.colB {
    width: 33%;
    display: table-cell;
    vertical-align: top;
    text-align: center;
    padding: 2% 2% 2% 2%;
    /* border-bottom: 2px solid #0f3057;
    border-top: 2px solid red; */
}


a {
    text-decoration: none;
}

/* unvisited link */
a:link {
color: black;
}
  
/* visited link */
a:visited {
color: black;
}

/* mouse over link */
a:hover {
color: white;
}

/* selected link */
a:active {
color:black;
}

.tweet {
    width: 80%;
    /* float: center; */
    /* padding: 15px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* height: 20%; */
    /* border: 1px solid red; */
  }


  .grid-container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto auto auto;
    /* background-color: #2196F3; */
    height: 83vh;
    align-items: center;
    /* height: calc(100vh - 10px); */
  }
  .grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 2% 0% 2% 0%;
    /* font-size: 4vw; */
    text-align: left;
  }

  .grid-container2 {
    padding: 10% 0% 0% 0%;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    column-gap: 3%;
    grid-template-rows: auto auto auto;
    /* background-color: #2196F3; */
    justify-content: space-evenly;
    /* height: 60vh; */
    height: auto;
    align-items: center;
    /* height: calc(100vh - 10px); */
    /* align-self: center; */
  }

  .grid-item1 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(71, 25, 25, 0.8); */
    /* padding: 0% 5% 0% 5%; */
    /* font-size: 4vw; */
    text-align: center;
    /* place-self: center; */
    /* vertical-align: center; */
    /* display: table-cell; */
    /* vertical-align: middle; */
    /* display: table-cell; */
  }

  .grid-item2 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    /* place-self: center; */
    padding: 2% 0% 2% 0%;
    text-align: center;
    /* vertical-align: bottom; */
  }

  .grid-item3 {
    /* background-color: rgba(255, 255, 255, 0.8); */

    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    /* place-self: center; */
    padding: 0% 5% 0% 5%;
    text-align: center;
    /* vertical-align: bottom; */
  }
