* {
    box-sizing: border-box;
}

html {
    margin:0;
    height: 100%;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: 'Open Sans';
    font-size: calc(14px + .5vw);
    height: 100%;
    margin: 0;
    overflow-x: hidden; 
}

.f1 {
    min-height: 100%;
    height: auto;
    background-color: #000000;
    /* background-color: #EAEEF6; */
    padding: 3% 10% 1% 10%;
}


p {
    /* margin: 0em; */
    padding: 0;
    margin-top: 0px; 
    font-size: calc(10px + .5vw);
    color: white;
}

p.tabs {
  font: 'Ubuntu';
  font-weight: 700;
  font-size: calc(16px + .5vw);
  height: 100%;
  margin: 0;
  overflow-x: hidden; 
}


p.name {
  margin: 0em;
  font-family: Ubuntu;
  font-size: calc(20px + 2vw);
  font-weight: 700;
  text-align: center;
  line-height:1.2em;
  color: #1f68bf;
}


p.intro {
  margin: 0em;
  /* font-size: calc(12px + 0.2vw); */
  font-size: calc(14px + 0.2vw);
    /* font-family: Open Sans; */
    /* color: #495464; */
  text-align: center;
  vertical-align: bottom;
}

p.bottom {
  margin: 0em;
    font-size: calc(10px + 0.2vw);
    /* font-family: Open Sans; */
    /* color: black; */
    text-align: center;
}
.foot {
  /* position: fixed; */
  left: 0;
  bottom: 1%;
  width: 100%;
  /* background-color: red; */
  /* color: white; */
  text-align: center;
}

.footer{
  text-align: center;
  padding: 3px;
  color: white;
  background-color: black;
}
p.email {
  margin: 0em;
}
/* Style the tab */
.tab {
  border: none;
  z-index: -1;
  /* border: none; */
  /* width: 100%; */
  /* overflow: hidden; */
  /* border: 1px solid black;
  border-left: 1px black;
  border-right: 1px black;
  border-top: 1px black; */

  /* background-color: #f1f1f1; */
  /* text-align: justify; */
    
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: black;
    /* float: right; */
    cursor: pointer;
    padding: 1% 1%;
    /* transition: 0.3s; */
    font-size: calc(14px + 0.5vw);
    font-family: Oswald;
    width: 32%;
    border: none;
    /* text-align: center; */
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    /* background-color: #c3d9ed; */
    border-bottom: 4px solid #1f68bf;

    /* border: 1px black; */
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    outline: none;
    z-index: 2;
    border-bottom: 4px solid #1f68bf;
    /* background-color: #BED4E1; */
    /* background-color: #A1C1D3; */
    /* border: none; */
    /* border-bottom: 3px white; */
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    /* border-top: none; */
    height: 60%;
  }


  input[type=text], input[type=email], select {
    width: 50%;
    padding: 1%;
    border: 1px solid #ccc;
    min-width: 300px;
    /* border-radius: 4px; */
    /* resize: vertical; */
  }

  textarea {
    width: 100%;
    padding: 1%;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    resize: vertical;
  }
/* 
  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
   */
 
  input[type=submit] {
    background-color: #1f68bf;
    color: white;
    padding: 1% 2%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
  }
  
  input[type=submit]:hover {
    background-color: #A1C1D3;
  }

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 33%; /* IE10 */
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    z-index: 1;
  }

  .img2 {
    width: 10%;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 1000px) {
    .C1 {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
      display: inline;
    }

    .C2 {
      margin: 0 0 0 0;
      max-width: 100%;
      display: inline;
    }

    .C3 {
      margin: 0 0 0 0;
      max-width: 100%;
      display: inline;
    }

    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
    .containerTab{
    -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
      margin: 0 0 0 0;
    }
    .containerTab2 {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
      margin: 0 0 0 0;
      /* -ms-flex: 100%;
      flex: 100%; */
      /* max-width: 100%;
      margin: 0 0 0 -200%;
      position: relative; */
    }
  
    .containerTab3 {
      /* -ms-flex: 100%;
      flex: 100%; */
      max-width: 100%;
      margin: 0 0 0 200%;
    }
  }

  .container {
    position: relative;
    width: 90%;
    z-index: 1;
    /* border: 1px solid white; */
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    z-index: 2;
    /* background-color: #008CBA; */
  }
  
  .container:hover .overlay {
    opacity: 1;
  }

  p.proj_title{
    /* color: white;
    font: 'Ubuntu';
    font-weight: 700; */
    font-family: Oswald;
    font-weight: 700;
  }

  p.proj_sub_title{
    /* color: white;
    font: 'Ubuntu';
    font-weight: 700; */
    font-family: Oswald;
    font-weight: 700;
    text-align: center;
    font-size: calc(12px + .5vw);
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    z-index: 5;
  }

  .text2 {
    color: white;
    font-size: 16px;
    margin-top: 83%;
    font-weight: 900;
    /* position: absolute; */
    /* top: 90%; */
    /* left: 40%; */
    /* -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    text-align: center;
    z-index: 5;
  }

  .formcontainer{
      width: 100%;
      text-align: left;
      padding: 0% 10% 0% 10%;
      overflow: auto;
  }

  a {
    /* display: block; */
    text-decoration: none;
    font-weight: 100;
}

  /* unvisited link */
a:link {
    color: #1f68bf;
    font-weight: 900;
    /* font-family: Oswald; */
    }
      
/* visited link */
a:visited {
  color: #1f68bf;
}

/* mouse over link */
a:hover {
color: red;
font-weight: bolder;
}

/* selected link */
a:active {
  font-weight: 900;
  color: #1f68bf;

/* color:black; */
}


    .colA {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        /* padding: 5% 0% 5% 0%; */
        /* border: 0.1px solid white; */
    }
    .colA img {
        max-width: 30px;
        /* max-height: 30px; */
    }

    .col-container {
        display: table;
        width: 20%;
        position: absolute;
        right: -5%;
        top: 7%;
        /* float: right; */
        /* height: 10%; */
      }

      .myButton {

        padding: 30px;
        /* display:block; */
        background-color: #1f68bf;
        color: white;
        text-align:center;
        position: absolute;
        /* float: right; */
        top: 100px;
        left: 10px;
    
    }

  p.buttons {
      font-size: calc(6pt + 0.3vw);
  }

.text-block {
    height: 10%;
    width: 100%;
    position: absolute;
    top: 0;
    /* right: 20px; */
    background-color: black;
    color: white;
    padding: 2% 1% 2% 1%;
    text-align: center;
    /* border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white; */
  }

  .overlay2 {
    position: absolute; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: left;
    
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    cursor: pointer;
  }
  
  .container:hover .overlay2 {
  height: 90%;
    opacity: 2;
  }

  #more {display: none;}




  .containerTab {
    padding: 5% 5% 5% 5%;
    color: white;
    float: center;
    /* margin: 0 0 0 2%; */
    width: 300%;
    display:none;
    background:black;
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    /* padding: 0 4px; */
  }
  
  .containerTab2 {
    padding: 5% 5% 5% 5%;
    color: white;
    float: center;
    margin: 0 0 0 -100%;
    width: 300%;
    display:none;
    background:black;
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    /* padding: 0 4px; */
  }

  .containerTab3 {
    padding: 5% 5% 5% 5%;
    color: white;
    float: center;
    margin: 0 0 0 -202%;
    width: 300%;
    display:none;
    background:black;
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    /* padding: 0 4px; */
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Closable button inside the container tab */
  .closebtn {
    /* margin: 0 0 0 90%; */
    color: white;
    font-size: 35px;
    cursor: pointer;
  }


  .C1 {
    width: 260%;
    margin: 5% 20% 0 20%;
  }

  .C2 {
    width: 260%;
    margin: 5% 20% 0 -83%;
  }

  .C3 {
    width: 300%;
    margin: 5% 0 0 -203%;
  }

  .button {
    /* background-color: #1f68bf;  */
    background-color: black;
    border: solid black;
    color: white;
    padding: .5% 1%;
    text-align: center;
    text-decoration: none;
    display: inline;
    /* margin-left: 48%; */
    /* float: center; */
    cursor: pointer;
    margin: 0;
    position: absolute;
    /* top: 50%; */
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .button:active {
    outline: none;  }

  .button:focus {
    outline: none;
  }

  .about {
    margin: 0 9% 0 9%;
  }

